*{
    box-sizing: border-box;
}

body{
	-webkit-font-smoothing: antialiased;
	margin: 0 auto;
	font-family: lato;
	font-weight: 300;
	background-color: #333;
	height: 100vh;
}

.flex{
	display: flex;
}

.flex-column{
	flex-direction: column;
}

.flex-row{
	flex-direction: row;
}

.flex-1{
	flex: 1;
}

.flex-2{
	flex: 2;
}

.flex-j-between{
	justify-content: space-between;
}

.flex-j-around{
	justify-content: space-around;
}

.flex-j-center{
	justify-content: center;
}

.flex-a-center{
	align-items: center;
}

.center{
	justify-content: center;
	align-items: center;	
}

p, li{
	line-height: 1.5;
}

.fixed{
	display: fixed;
}


.container{
	width: 960px;
	margin: 0 auto;
	height: 100vh;

	
	
}

.messageBox{
	width: 36em;
	color: #ddd;
	text-align: center;
	border: 1px solid white;
	padding: 1em;

}

a{
	text-decoration: none;
	color: white;
}

a:hover{
	color: cyan;
}