*{
    box-sizing: border-box;
}

body{
	-webkit-font-smoothing: antialiased;
	letter-spacing: .2em;
	background-image: url("../img/overlay2.png"), linear-gradient(60deg, rgba(173, 94, 81, 1) 25%, rgba(56, 144, 154, 1));
	/*background-image: url("assets/img/bg01.jpg");*/
	background-repeat: repeat, no-repeat, no-repeat;
	background-size: 100px 100px, cover, cover;
	background-position: top left, center center, bottom center;
	background-attachment: fixed, fixed, fixed;
	margin: 0 auto;
	font-family: lato;
	font-weight: 300;
}

.fixed{
	display: fixed;
	top: 0;
}

.flex{
	display: flex;
}

.flex-column{
	flex-direction: column;
}

.flex-row{
	flex-direction: row;
}

.flex-1{
	flex: 1;
}

.flex-2{
	flex: 2;
}

.flex-j-between{
	justify-content: space-between;
}

.flex-j-around{
	justify-content: space-around;
}

.flex-j-center{
	justify-content: center;
}

.flex-a-center{
	align-items: center;
}

.center{
	display: flex;
	justify-content: center;
	align-items: center;	
}

.flex-wrap{
  flex-wrap: wrap;
}

p, li{
	line-height: 1.5;
}

.wrapper{
	padding-top: 3.5em;
}

header{
	margin-top: 1em;
}

h1{
	font-weight: 300;
	font-size: 1.85em;
}

h2{
	font-weight: 300;
	font-size: 1.1em;
	margin: 0;
}

.container{
	background: white;
	color: black;
	width: 40em;
	height: 34em;
	padding: 4.5em 3em 3em 3em;
	border-radius: .3em;
	align-items: center;	
	padding-top: 2em;
	-webkit-box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.75);
	
	opacity: .9;
	transition: opacity 2s ease, transform 1s ease;
	transform: rotateX(0deg);
	transform-origin: 50% 50%;
}

header>p{
	font-weight: 300;
	font-size: .9em;
}

.profile-pic{

	display: block;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 0 0 1.5em #ffffff;
    height: 122px;
    width: 122px;


}

.container .profile-pic:before {
    content: '';	
    display: block;
    position: absolute;
    top: 20%;
    left: 0em;
    width: 40em;
    height: 1px;
    z-index: -1;
    background: #c8cccf;
}

hr {
    border: 0;
    border-bottom: solid 1px #c8cccf;
    margin: 1em 0;
}

a:before {
    -moz-transition: color 0.2s ease, text-shadow 0.2s ease;
    -webkit-transition: color 0.2s ease, text-shadow 0.2s ease;
    -ms-transition: color 0.2s ease, text-shadow 0.2s ease;
    transition: color .5s ease, text-shadow .5s ease;
}

a {
    -moz-transition: color 0.2s ease, border-color 0.2s ease;
    -webkit-transition: color 0.2s ease, border-color 0.2s ease;
    -ms-transition: color 0.2s ease, border-color 0.2s ease;
    transition: color 0.2s ease, border-color 0.2s ease;
    color: inherit;
    text-decoration: none;
}

ul {
	list-style: disc;
	margin: 0 0 1.5em 0;
	padding-left: 1em;
}

ul li {
	padding-left: 0.5em;
}

ul.alt {
	list-style: none;
	padding-left: 0;
}

ul.alt li {
	border-top: solid 1px #c8cccf;
	padding: 0.5em 0;
}

ul.alt li:first-child {
	border-top: 0;
	padding-top: 0;
}

ul.icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
	margin-top: .5em;
}

ul.icons li {
	display: inline-block;
	padding: 0.675em 0.5em;
}

ul.icons li a {
	text-decoration: none;
	position: relative;
	display: block;
	width: 3.75em;
	height: 3.75em;
	border-radius: 100%;
	border: solid 1px #c8cccf;
	line-height: 3.75em;
	overflow: hidden;
	text-align: center;
	text-indent: 3.75em;
	white-space: nowrap;
}

ul.icons li a:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

ul.icons li a:before {
	color: #ffffff;
	text-shadow: 1.25px 0px 0px #c8cccf, -1.25px 0px 0px #c8cccf, 0px 1.25px 0px #c8cccf, 0px -1.25px 0px #c8cccf;
}

ul.icons li a:hover:before {
	text-shadow: 1.25px 0px 0px #ff7496, -1.25px 0px 0px #ff7496, 0px 1.25px 0px #ff7496, 0px -1.25px 0px #ff7496;
}

ul.icons li a:before {
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
	font-size: 1.85em;
	line-height: inherit;
	text-align: center;
	text-indent: 0;
}

ul.icons li a:hover {
	border-color: #ff7496;
	overflow: visible -20px;
}

@media screen and (max-width: 480px) {

	ul.icons li a:before {
		font-size: 1.5rem;
	}

}

footer>ul{
	padding-top: 2em;
	font-family: lato;
	font-weight: 300;
	font-size: .9em;
	letter-spacing: .2em;
	text-decoration: none;
	list-style: none;
	color: #FFF;
}

.pokeball{
	background: url("../img/PokeBall-icon.png") no-repeat -35px -34px;
	width: 114px;
	height: 114px;
}

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


ul.icons li a.green:hover { background-color: #03a103; border-color: #03a103; }
ul.icons li a.purple:hover { background-color: #c307c3; border-color: #c307c3; }
ul.icons li a.yellow:hover { background-color: #FFFF00; border-color: #FFFF00; }
ul.icons li a.orange:hover { background-color: #FFA500; border-color: #FFA500; }
ul.icons li a.blue:hover { background-color: #38909A; border-color: #38909A; }

.red { background-color: #AD5E51; border-color: #AD5E51;  }

.cc-icon{
	background: url("../img/covertops.png") no-repeat 2px 9px ;
	background-size: 52px;
	
}

/*BORDER TEST! */

/*.svg-wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
	  margin: 0 auto;
  width: 320px;  
}
.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  stroke: #19f6e8;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.text {
  font-family: 'Roboto Condensed';
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 8px;
  color: #fff;
  top: -48px;
  position: relative;
}
.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}*/