

.flex{
	display: flex;
}

.flex-column{
	flex-direction: column;
}

.flex-row{
	flex-direction: row;
}

.flex-1{
	flex: 1;
}

.flex-j-between{
	justify-content: space-between;
}

.flex-j-around{
	justify-content: space-around;
}

.flex-j-center{
	justify-content: center;
}

.flex-a-center{
	align-items: center;
}

.push-right{
	margin-right:50px;
}

.center{
	display: flex;
	justify-content: center;
	align-items: center;	
}
.divider{
	border-left: 1px solid #333;
	height: 100px;  
	margin-left: 15px;
}
textarea.textArea{
	max-width: 400px;
	height: 190px;
}

.review-post{
	height: 100px;
	max-width: 400px;
}

.wrapper{
	width: 400px;
	margin: 0 auto;
	
}

.comment{
	width: 100%;
}

.comments{
	width: 100%;
}

.box{
	line-height: 1.3em
}

header{
	width: 100%;
}


body{
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	align-items: flex-start;
}



.main{
	width: 100%;
	flex: 1;
}

footer{
	width: 100%;
	padding-bottom: 10px;


}

.navbar-default ul{
	margin-top: 1em;
}

.navbar{
	background-color: #ECECEC;
	margin-bottom: 0px;
}

#navCat{
	background-color: #333;
}

ul{
	margin: 0;
}

h1, h3{
	margin: 0.67em 0;
	margin-right: 10px;
	margin-left: 10px;
}

p.large-price{
	font-size: 4em;
}

.push-top{
	margin-top: 30px;
}

.white{
	color: white;
}

.important{
	color: red;
}

.larger-button{
	padding: 1em 3em;
}

.product{
	width: calc(33% - 2em);
	margin: 1em;
}

.products{
	display: flex;
	flex-wrap: wrap;

}

/*.fixed{
	flex-direction: column;
}

.fixed-b{
	position: relative;
}*/

.table>tbody>tr>td{
	vertical-align: middle;
}

.nav>li>a{
	padding: 15px 15px;
}

.notification{
	position: fixed;
	top: -5px;
	right: 60px;
	z-index: 9;
	width: 215px;
}

.notification-cart{
	background: #333;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	color: #eee;
	padding: 1em;


}

.notification-cart h2{
	margin: 0;
	padding: 0.67em 0;
}


.hide{
	display: none;
}

.show{
	display: visible;
}


.whiteHover a:hover{
	color: #eee

}

/* 
*
* Content Wrapper
*
*/

.contentWrapper{
	padding: 1em 2em;
}

/*
*
* Footer
* 
*/

/* Social Icon */

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline li{
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 10px;
}

.social-icons .fa{
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #FFF;
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa{ 
  border-radius: 50%;
}

.social-icons.icon-zoom .fa:hover,
.social-icons.icon-zoom .fa:active{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.social-icons.icon-rounded .fa{
  border-radius: 5px;
}

/* Change Size of Icons*/
.social-icons .fa {
	font-size: 1.2em;

}

/* Change Colour of Icons*/
.social-icons .fa-facebook{background-color:#3C599F;}  
.social-icons .fa-google-plus{background-color:#CF3D2E;} 
.social-icons .fa-instagram{background-color:#A1755C;}
.social-icons .fa-twitter{background-color:#32CCFE;} 
.social-icons .fa-youtube{background-color:#C52F30;}



#googleMap{	
	width: 40em;
	height: 32.5em; 
}

.contact-form{
	box-sizing: content-box;
	padding-right: 3em;
	margin-right: 3em;
	border-right: 1px solid #333;
}
